@import 'https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap';
@import "https://fonts.googleapis.com/icon?family=Material+Icons+Outlined";
:root {
  --Brand-Green: #8bea7c;
  --Secendary-Purple: #d4aeff;
  --Neutral-Black-900: #17412d;
  --Neutral-Black-800: #23513b;
  --Neutral-Black-700: #43574d;
  --Neutral-White-500: #91a49b;
  --Neutral-White-400: #bfc4c5;
  --Neutral-White-300: #ededed;
  --Neutral-White-200: #fafafa;
  --Neutral-White: #ffffff;
  
  --button: 16px;
  --caption: 12px;
  --line-height: 120%;
  --medium: 400;
  --semibold: 500;
  --font: Onest;
}
@media(prefers-color-scheme: light){
  
  :root {
    --Brand-Green: #4bd536;
    --Neutral-Black-900: #fff;
    --Neutral-Black-800: #fafafa;
    --Neutral-Black-700: #ededed;
    --Neutral-White-500: #bfc4c5;
    --Neutral-White-400: #91a49b;
    --Neutral-White-300: #43574d;
    --Neutral-White-200: #23513b;
    --Neutral-White: #17412d;
    
    --button: 16px;
    --caption: 12px;
    --line-height: 120%;
    --medium: 400;
    --semibold: 500;
    --font: Onest;
  }
}
* {
  box-sizing: border-box;
  transition-duration: .3s;
}
body {
  min-height: 100vh;
  background-color: var(--Neutral-White);
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
}
h1 {
  font-size: 56px;
  line-height: 64px;
  font-family: var(--font);
  font-weight: var(--medium);
}

h2 {
  font-size: 42px;
  line-height: 50px;
  font-family: var(--font);
  font-weight: var(--medium);
}

h3 {
  font-size: 34px;
  line-height: 42px;
  font-family: var(--font);
  font-weight: var(--medium);
}
h4 {
  font-size: 26px;
  line-height: 34px;
  font-family: var(--font);
  font-weight: var(--medium);
}
h5 {
  font-size: 22px;
  line-height: 30px;
  font-family: var(--font);
  font-weight: var(--medium);
}

h6 {
  font-size: 18px;
  line-height: 26px;
  font-family: var(--font);
  font-weight: var(--medium);
}

a {
  text-decoration: none;
  
}

@import 'tailwindcss';